<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/blog/static/css/blogpage.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header starts -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container">
          <a class="navbar-brand" href="#">
            <h1>Gym Lifestyle</h1>
            <p class="subtitle">Your guide to a healthy and fit life.</p>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Featured Article</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Letest Article</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#fitness">Fitness Tips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_view' %}">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- header ends -->

    <!-- Hero Section starts-->

    <section class="hero">
      <div class="hero-content">
        <h1 class="hero-title">Empower Your Fitness Journey</h1>
        <p class="hero-subtitle">
          Discover Expert Tips for a Healthier Lifestyle
        </p>
        <a style="text-decoration: none" href="#about" class="hero-button">
          <span data-text="About Us">About us</span>
        </a>
      </div>
    </section>
    <!-- Hero Section ends-->

    <!-- Cards starts-->
    <section id="fitness" class="card-section">
      <div class="card-grid">
        <!-- Card - 1 -->
        <a class="card product" href="#" data-popup-target="popup-1">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/healthy food eating person.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Maximize Your Workouts</p>
            <h3 class="card__heading">Gym Masterys</h3>
          </div>
        </a>

        <!-- Popup-div for card - 1 starts here-->

        <div class="popup-div" id="popup-1">
          <div class="popup-content">
            <a
              style="
                color: #f00;
                display: block;
                position: absolute;
                text-decoration: navajowhite;
                transform: rotate(45deg);
                font-size: 80px;
                right: 10px;
                top: -20px;
              "
              >+</a
            >
            <button class="dark-mode-button" data-card-id="popup-1">
              <span class="mode-icon"><i class="fas" id="mode-icon"></i></span>
              <span class="mode-indicator" id="tooltip">🌑</span>
            </button>

            <h2 class="popup-heading">
              Title: Unraveling the Mysteries of Maximizing Your Workouts
            </h2>
            <br />
            <div class="popup-hero">
              <img
                src="/blog/static/photos/Blog_page/mystries image.jpg"
                alt="Guy working out"
                class="popup-img"
              />
            </div>
            <br />
            <!--Dark button-->

            <p class="popup-text">
              In the dynamic world of fitness, where routines evolve, and trends
              come and go, one constant remains—the pursuit of maximizing
              workouts. As enthusiasts, we crave the secrets that unlock our
              full potential in the gym, revealing the mysteries that elevate
              our fitness journey. Join me as we delve into the intricacies of
              optimizing workouts, unearthing the science, mindset, and
              practical tips that will empower you to make the most of every
              session.
            </p>
            <br />
            <h4 class="popup-heading">The Science Behind Maximized Workouts</h4>
            <br />
            <p class="popup-text">
              <span>1. Understand Your Body:</span> The journey begins with
              self-awareness. Each body is unique, responding differently to
              various exercises and intensities. Embrace your individuality,
              recognizing strengths and areas for improvement. A tailored
              approach to workouts ensures optimal results.
            </p>
            <p class="popup-text">
              <span>2. The Power of Compound Movements:</span> Incorporating
              compound exercises engages multiple muscle groups simultaneously.
              Squats, deadlifts, and bench presses are fundamental, triggering
              greater muscle activation and caloric expenditure. Embrace these
              power-packed movements to enhance efficiency.
            </p>
            <p class="popup-text">
              <span>3. Periodization Techniques:</span> The body adapts to
              stress over time, necessitating changes in your workout routine.
              Periodization involves altering intensity, volume, and exercises
              periodically. This strategic approach prevents plateaus and
              promotes continuous gains.
            </p>
            <br />
            <h4 class="popup-heading">The Mindset Game</h4>
            <br />
            <p class="popup-text">
              <span>1. Goal Setting:</span> Define clear, achievable fitness
              goals. Whether it's building muscle, losing weight, or improving
              endurance, setting specific objectives provides direction and
              motivation.
            </p>
            <p class="popup-text">
              <span>2. Consistency is Key:</span> Maximizing workouts requires
              dedication. Consistency in training, nutrition, and recovery
              establishes a foundation for sustained progress. Celebrate small
              victories along the way, reinforcing positive habits.
            </p>
            <p class="popup-text">
              <span>3. Embrace the Process:</span> Fitness is a journey, not a
              destination. Enjoy the process of self-improvement, understanding
              that results unfold gradually. Patience and perseverance are
              virtues in the pursuit of fitness excellence.
            </p>
            <br />
            <h4 class="popup-heading">Practical Tips for Maximum Impact</h4>
            <br />
            <p class="popup-text">
              <span>1. Optimal Nutrition:</span> Fuel your body with
              nutrient-dense foods to support energy levels and recovery.
              Prioritize a balanced diet rich in protein, carbohydrates, and
              healthy fats.
            </p>
            <p class="popup-text">
              <span>2. Adequate Rest and Recovery:</span> Muscles grow during
              periods of rest. Ensure sufficient sleep and incorporate rest days
              into your routine. Listen to your body, allowing it to recuperate
              and prevent burnout.
            </p>
            <p class="popup-text">
              <span>3. Smart Supplementation: </span> Supplement wisely to fill
              nutritional gaps and enhance performance. Consult with fitness
              professionals to identify supplements aligned with your goals.
            </p>
            <br />
            <h4>Conclusion</h4>
            <br />
            <p class="popup-text">
              In unraveling the mysteries of maximizing workouts, we discover a
              blend of science, mindset, and practical application. The journey
              involves continuous learning, adapting to your body's needs, and
              maintaining a positive mindset. Armed with knowledge and
              commitment, you are poised to embark on a transformative fitness
              odyssey. Embrace the challenges, celebrate victories, and relish
              the process—a journey towards unlocking your full fitness
              potential.
            </p>
            <br />
          </div>
        </div>

        <!-- Popup-div for card - 1 ends here-->

        <!-- Card - 2 -->

        <a class="card product" href="#" data-popup-target="popup-2">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/heavy lifting.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Safely Build Strength</p>
            <h3 class="card__heading">Muscle Sculptor</h3>
          </div>
        </a>

        <!-- Popup-div for card - 2 starts here-->

        <div class="popup-div" id="popup-2">
          <div class="popup-content">
            <a
              style="
                color: #f00;
                display: block;
                position: absolute;
                text-decoration: navajowhite;
                transform: rotate(45deg);
                font-size: 80px;
                right: 10px;
                top: -20px;
              "
              >+</a
            >
            <button class="dark-mode-button" data-card-id="popup-2">
              <span class="mode-icon"><i class="fas" id="mode-icon"></i></span>
              <span class="mode-indicator" id="tooltip">🌑</span>
            </button>

            <h2 class="popup-heading">
              Title: Safely Build Strength:- A Comprehensive Guide to Strength
              Training
            </h2>
            <br />
            <div class="popup-hero">
              <img
                src="/blog/static/photos/Blog_page/heavy lifting.jpg"
                alt="Guy working out"
                class="popup-img"
              />
            </div>
            <br />
            <h3 class="sub-heading">
              Section 1: The Fundamentals of Strength Training
            </h3>
            <br />
            <h4>1.1 Benefits of Strength Training</h4>
            <br />
            <h5 class="heading-group">Increased Muscle Mass and Metabolism</h5>
            <br />
            <p class="popup-text">
              Strength training induces muscle hypertrophy, leading to an
              increase in lean muscle mass. As muscles grow, they become more
              metabolically active, contributing to a higher basal metabolic
              rate (BMR). This metabolic boost supports weight management and
              fat loss over time.
            </p>
            <br />
            <h5 class="heading-group">
              Improved Bone Density and Joint Health
            </h5>
            <br />
            <p class="popup-text">
              Weight-bearing exercises, integral to strength training, enhance
              bone density, reducing the risk of osteoporosis and fractures.
              Additionally, strengthening muscles around joints provides better
              support, promoting joint health and preventing injuries.
            </p>
            <br />
            <h5 class="heading-group">
              Enhanced Functional Strength for Daily Activities
            </h5>
            <br />
            <p class="popup-text">
              Strength training focuses on compound movements that mimic
              real-life activities, improving functional strength. This
              translates to enhanced performance in daily tasks, such as
              lifting, carrying, and maintaining proper posture.
            </p>
            <br />
            <h5 class="heading-group">Prevention of Age-Related Muscle Loss</h5>
            <br />
            <p class="popup-text">
              Sarcopenia, the age-related loss of muscle mass, can be mitigated
              through consistent strength training. By challenging muscles
              regularly, individuals can maintain and even increase muscle mass
              as they age, supporting overall health and independence.
            </p>
            <br />

            <h4>1.2 Understanding the Principles</h4>
            <br />
            <h5 class="heading-group">Progressive Overload</h5>
            <br />
            <p class="popup-text">
              Progressive overload involves gradually increasing the resistance
              or intensity of exercises to challenge the muscles continually.
              This principle is foundational for sustained strength gains.
              Methods include adding weight, increasing repetitions, or
              adjusting exercise difficulty.
            </p>
            <br />
            <h5 class="heading-group">Proper Form and Technique</h5>
            <br />
            <p class="popup-text">
              Ensuring correct form during exercises is crucial for
              effectiveness and injury prevention. Proper technique maximizes
              muscle engagement while minimizing stress on joints. Individuals,
              especially beginners, should prioritize learning and maintaining
              proper form.
            </p>
            <br />
            <h5 class="heading-group">Adequate Rest and Recovery</h5>
            <br />
            <p class="popup-text">
              Muscles need time to repair and grow stronger after a workout.
              Adequate rest and recovery include quality sleep, proper
              nutrition, and allowing specific muscle groups to recover before
              targeting them again. Overtraining can lead to fatigue, increased
              injury risk, and diminished results.
            </p>
            <br />

            <h3 class="sub-heading">
              Section 2: Designing Your Strength Training Program
            </h3>
            <br />
            <h4>2.1 Setting Realistic Goals</h4>
            <br />
            <h5 class="heading-group">
              Establishing Short-Term and Long-Term Objectives
            </h5>
            <br />
            <p class="popup-text">
              Effective goal-setting involves defining both short-term and
              long-term objectives. Short-term goals create stepping stones for
              long-term success, providing a sense of accomplishment and
              motivation along the way.
            </p>
            <br />
            <h5 class="heading-group">
              Tailoring Goals to Individual Fitness Levels and Aspirations
            </h5>
            <br />
            <p class="popup-text">
              Goals should align with an individual's current fitness level,
              considering factors like age, health conditions, and prior
              exercise experience. Tailoring goals ensures they are achievable
              and sustainable.
            </p>
            <br />
            <h4>2.2 Creating a Balanced Workout Routine</h4>
            <br />
            <h5 class="heading-group">
              Incorporating Compound and Isolation Exercises
            </h5>
            <br />
            <p class="popup-text">
              Balancing compound exercises (involving multiple muscle groups)
              and isolation exercises (targeting specific muscles) ensures
              comprehensive muscle development. Compound movements, such as
              squats and deadlifts, provide functional strength, while isolation
              exercises address specific muscle groups.
            </p>
            <br />
            <h5 class="heading-group">
              Balancing Muscle Groups to Prevent Imbalances and Injury
            </h5>
            <br />
            <p class="popup-text">
              A well-designed program addresses all major muscle groups,
              preventing muscular imbalances. Neglecting specific muscle groups
              can lead to poor posture, joint issues, and an increased risk of
              injury.
            </p>
            <br />
            <h5 class="heading-group">
              Incorporating Cardiovascular Exercise for Overall Fitness
            </h5>
            <br />
            <p class="popup-text">
              While strength training is essential, cardiovascular exercise
              contributes to overall fitness. Including activities like running,
              cycling, or swimming enhances cardiovascular health, supports
              weight management, and complements strength training efforts.
            </p>
            <br />

            <h4>2.3 Structuring Your Workouts</h4>
            <br />
            <h5 class="heading-group">Warm-Up and Cool-Down Routines</h5>
            <br />
            <p class="popup-text">
              Effective warm-up routines prepare the body for exercise by
              increasing blood flow and flexibility. Cooling down aids in muscle
              recovery, reduces muscle soreness, and promotes flexibility. Both
              are vital components of a well-rounded workout.
            </p>
            <br />
            <h5 class="heading-group">
              The Importance of Flexibility and Mobility Exercises
            </h5>
            <br />
            <p class="popup-text">
              Incorporating flexibility and mobility exercises enhances range of
              motion and joint flexibility. Stretching and mobility drills
              should be included to improve overall movement patterns and reduce
              the risk of injuries.
            </p>
            <br />
            <h5 class="heading-group">
              Recommended Sets, Repetitions, and Rest Intervals
            </h5>
            <br />
            <p class="popup-text">
              The optimal number of sets and repetitions varies based on
              individual goals—whether it be strength, hypertrophy, or
              endurance. Appropriate rest intervals between sets allow for
              adequate recovery, influencing the training's overall intensity.
            </p>
            <br />

            <h3 class="sub-heading">Section 3: Safe Lifting Techniques</h3>
            <br />
            <h4>3.1 Squats</h4>
            <br />
            <h5 class="heading-group">Proper Squat Form and Variations</h5>
            <br />
            <p class="popup-text">
              Squats are a foundational compound exercise targeting the lower
              body and core. Correct squat form involves maintaining a neutral
              spine, proper knee alignment, and engaging the hips. Variations,
              such as front squats and goblet squats, offer versatility and
              cater to different fitness levels.
            </p>
            <br />
            <h5 class="heading-group">Common Mistakes and How to Avoid Them</h5>
            <br />
            <p class="popup-text">
              Common squatting errors, like rounding the back or letting the
              knees collapse inward, can lead to injuries. Understanding these
              mistakes and implementing corrections ensures safe and effective
              squatting.
            </p>
            <br />

            <h4>3.2 Deadlifts</h4>
            <br />
            <h5 class="heading-group">
              Techniques for Conventional and Sumo Deadlifts
            </h5>
            <br />
            <p class="popup-text">
              Deadlifts engage multiple muscle groups, emphasizing the posterior
              chain. Conventional and sumo deadlifts differ in stance and muscle
              emphasis. Proper techniques involve maintaining a flat back,
              bracing the core, and lifting with the legs.
            </p>
            <br />

            <h5 class="heading-group">Tips for Maintaining a Neutral Spine</h5>
            <br />
            <p class="popup-text">
              A neutral spine is crucial during deadlifts to prevent lower back
              strain. Techniques such as the hip hinge and proper grip
              contribute to a strong and safe deadlifting form.
            </p>
            <br />

            <h4>3.3 Bench Press</h4>
            <br />
            <h5 class="heading-group">
              Chest, Shoulder, and Triceps Engagement
            </h5>
            <br />
            <p class="popup-text">
              The bench press targets the chest, shoulders, and triceps.
              Achieving optimal engagement requires a stable shoulder position,
              controlled descent, and a proper grip width.
            </p>
            <br />

            <h5 class="heading-group">Spotting Techniques for Safety</h5>
            <br />
            <p class="popup-text">
              Bench press safety is enhanced with proper spotting techniques. A
              spotter assists with lifting, providing reassurance and preventing
              potential accidents. Communication and familiarity with spotting
              cues are essential for an effective partnership. .
            </p>
            <br />

            <h3 class="sub-heading">
              Section 4: Injury Prevention and Management
            </h3>
            <br />
            <h4>4.1 Listening to Your Body</h4>
            <br />
            <h5 class="heading-group">
              Recognizing Signs of Fatigue and Overtraining
            </h5>
            <br />
            <p class="popup-text">
              Effective strength training involves understanding one's body
              signals. Recognizing signs of fatigue, such as decreased
              performance or persistent soreness, helps prevent overtraining and
              potential injuries.
            </p>
            <br />
            <h5 class="heading-group">
              The Importance of Proper Nutrition and Hydration
            </h5>
            <br />
            <p class="popup-text">
              Proper nutrition and hydration support muscle recovery and overall
              health. Consuming an adequate balance of macronutrients (protein,
              carbohydrates, and fats) and staying hydrated optimize the body's
              ability to repair and grow.
            </p>
            <br />

            <h4>4.2 Common Strength Training Injuries</h4>
            <br />
            <h5 class="heading-group">Strategies for Preventing Injuries</h5>
            <br />
            <p class="popup-text">
              Injuries, while not entirely avoidable, can be minimized through
              proactive strategies. Incorporating proper warm-ups, maintaining
              good form, and gradually increasing intensity are crucial in
              injury prevention.
            </p>
            <br />

            <h5 class="heading-group">First Aid and Recovery Methods</h5>
            <br />
            <p class="popup-text">
              In the event of an injury, prompt first aid and appropriate
              recovery measures are essential. Rest, ice, compression, and
              elevation (RICE) are standard protocols, and seeking professional
              medical advice is crucial for a timely and effective recovery.
            </p>
            <br />

            <h3 class="sub-heading">
              Section 5: Incorporating Progressive Techniques
            </h3>
            <br />
            <h4>5.1 Periodization</h4>
            <br />
            <h5 class="heading-group">
              Structuring Workouts to Avoid Plateaus
            </h5>
            <br />
            <p class="popup-text">
              Periodization involves organizing training cycles to prevent
              performance plateaus. By incorporating phases of varying intensity
              and focus, individuals can continually challenge their bodies,
              promoting consistent improvement.
            </p>
            <br />
            <h5 class="heading-group">
              The Concept of Microcycles, Mesocycles, and Macrocycles
            </h5>
            <br />
            <p class="popup-text">
              Breaking down periodization, microcycles represent short-term
              plans (usually a week), mesocycles span a few weeks, and
              macrocycles encompass the overall training period, often spanning
              several months or a year.
            </p>
            <br />

            <h4>5.2 Introducing Advanced Training Methods</h4>
            <br />
            <h5 class="heading-group">
              Drop Sets, Supersets, and Pyramid Training
            </h5>
            <br />
            <p class="popup-text">
              Advanced techniques like drop sets, supersets, and pyramid
              training add variety and intensity to workouts. These methods can
              be strategically integrated to overcome plateaus and enhance
              overall strength and endurance.
            </p>
            <br />

            <h5 class="heading-group">
              Implementing Strength and Power Phases
            </h5>
            <br />
            <p class="popup-text">
              Periods focusing on strength and power involve specific training
              protocols to maximize these attributes. These phases cater to
              individuals seeking targeted improvements in their ability to lift
              heavier weights explosively.
            </p>
            <br />

            <h4>Conclusion</h4>
            <br />
            <p class="popup-text">
              Safely building strength is a holistic process that extends beyond
              lifting weights. By understanding the fundamentals, designing a
              thoughtful program, practicing safe lifting techniques, preventing
              injuries, and incorporating progressive training methods,
              individuals can embark on a fitness journey that is not only
              effective but also sustainable. Remember, the key lies in
              consistency, patience, and a genuine commitment to personal
              well-being. As you embark on your strength-building journey,
              embrace the learning process, celebrate achievements, and
              prioritize the long-term health benefits that come with a
              well-rounded strength training program.
            </p>
            <br />
          </div>
        </div>

        <!-- Popup-div for card - 2 ends here-->
        <!-- Card - 3 -->

        <a class="card" href="#">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/health and wellness.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Nurture Mental Wellness</p>
            <h3 class="card__heading">Mindful Living</h3>
          </div>
        </a>
        <!-- Card - 4 -->

        <a class="card" href="#">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/person exercising.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Fuel Your Body Right</p>
            <h3 class="card__heading">Nutrition Boost</h3>
          </div>
        </a>
        <!-- Card - 5 -->

        <a class="card" href="#">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/person exercising.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Flex and Flow</p>
            <h3 class="card__heading">Unlock Flexibility</h3>
          </div>
        </a>
        <!-- Card - 6 -->

        <a class="card" href="#">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/person exercising.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Optimize Recovery</p>
            <h3 class="card__heading">Recharge and Recover</h3>
          </div>
        </a>
        <!-- Card - 7 -->

        <a class="card" href="#">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/person exercising.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">Cultivate Wellness</p>
            <h3 class="card__heading">Holistic Wellness Habits</h3>
          </div>
        </a>
        <!-- Card - 8 -->

        <a class="card" href="#">
          <div
            class="card__background"
            style="
              background-image: url('/blog/static/photos/Blog_page/person exercising.jpg');
            "
          ></div>
          <div class="card__content">
            <p class="card__category">"Intense Workouts</p>
            <h3 class="card__heading">HIIT It Hard</h3>
          </div>
        </a>
      </div>
    </section>

    <!-- Cards ends-->

    <!-- About Us Section starts -->
    <section id="about" class="about-section">
      <div class="about-container">
        <!-- Circular background -->
        <div class="about-circle"></div>

        <!-- Left side with circular photo -->
        <div class="about-photo-container">
          <div class="about-photo"></div>
        </div>

        <!-- Right side with information and contact button -->
        <div class="about-info-container">
          <h2 class="about-heading">About Us</h2>
          <!-- ... (rest of your content) ... -->
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="contact-button">Contact Us</button>
        </div>
      </div>
    </section>
    <!-- About Us Section ends -->

    <!-- Footer starts here -->
    <footer class="footer-section">
      <div class="footer-content">
        <div class="footer-logo">
          <h1>GYMBLOG</h1>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Featured Articles</a></li>
            <li><a href="#">Latest Articles</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 GYMBLOG. All rights reserved.</p>
      </div>
    </footer>
    <!-- Footer ends here -->
  </body>
  <script src="/blog/static/js/blogs.js"></script>
</html>
