@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');

/*Nav Bar section starts here*/

.custom-navbar {
    background-color: #f0f0f0;
}

/*Navbar section ends here*/

/*-----------------------------------------------------------------------------------------------------------------------------------------*/

/*Hero Section starts here*/


.hero {
    position: relative;
    background: url('/blog/static/photos/Blog_page/Gym\ Group.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center 8%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Black color with 60% opacity */
    z-index: 1;
    /* Ensure the overlay is behind the content */
}

.hero-content {
    text-align: center;
    color: #fff;
    z-index: 2;
    /* Ensure the content is on top of the overlay */
}

.hero-title {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out 0.5s;
    color: #f3b115;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Hero button*/

.hero-button {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #f5f5f5;
    /* Your desired text color */
    margin: 0;
    padding: 0;
    text-transform: none;
    cursor: pointer;
    border: 2px solid #e30449;
    /* Your desired border color */
    border-radius: 4px;
    padding: 2px 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 40px;
}

.hero-button:before {
    content: "";
    position: absolute;
    top: 100%;
    left: -40%;
    width: 300%;
    height: 400%;
    background-color: #e30449;
    /* Your desired background color */
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg);
}

.hero-button:hover:before {
    top: 0;
    left: -160%;
    width: 380%;
    height: 800%;
}

.hero-button span {
    transition: all 0.3s ease-in-out;
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    color: #fff;
    height: 3.5em;
    width: 5em;
    /* Set the initial text color */
}

.hero-button:hover span {
    top: -100% !important;
    transition: top 0.3s ease-in-out;
    /* Remove color transition from here */
}

.hero-button span:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.hero-button:hover span:after {
    transform: translateY(-50%);
}



/*Hero section ends here*/



/*---------------------------------------------------------------------------------------------------------------------------------------*/



/*Card section starts here*/



:root {
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1300px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


.card {
    list-style: none;
    position: relative;
    width: 100%;
    max-width: 240px;
    border-radius: 30px;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card-section {
    position: relative;
    overflow: hidden;
    height: auto;
    align-items: flex-start;
    background-image: linear-gradient(15deg, #f0f0f0 0%, #f0f0f0 150%);
    display: flex;
    min-height: 100%;
    justify-content: space-evenly;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    bottom: 0;
    filter: invert(0.3) brightness(0.5) saturate(1.2) contrast(1) blur(1px) opacity(40);
    left: 0;
    position: absolute;
    font-weight: 500;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.08) translateZ(0);
    filter: brightness(0.3) saturate(1) contrast(1) blur(2px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: rgba(255, 255, 255, 50);
    font-size: 1.5rem;
    /* Adjusted font size for responsiveness */
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    font-family: "Palanquin Dark", sans-serif;
}

.card__heading {
    color: #F57D1F;
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 700;
}


/*Cards Section ends here*/



/*---------------------------------------------------------------------------------------------------------------------------------------*/



/*Popup section starts here*/

.popup-content {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 95%;
    padding: 40px 40px 0;
    text-align: center;
    position: relative;
}

.product {
    display: inline-block;
    margin-bottom: 20px;
}

.product {
    cursor: pointer;
}

.popup-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(250, 250, 250, 0.9);
    color: #000;
    font-size: 25px;
    text-align: left;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 1000;
}

.popup-div .content {
    margin: 50px auto;
    column-count: 1;
    max-width: 280px;
    padding: 50px 20px;
    text-align: left;
    z-index: 1500;
}

.hiiden-f {
    overflow: scroll;
}

a {
    cursor: pointer;
}


/*Popup section ends here*/



/*------------------------------------------------------------------------------------------------------------------------------------------*/



/* About us Section starts here */

.about-section {
    background-color: #f0f0f0;
    padding: 80px 80px 80px 150px;
    position: relative;
    z-index: -1000;
    /* Make .about-section a positioning context for absolute positioning */
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.about-photo-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 2;
    /* Set a lower z-index to make sure it's on top */
}

.about-photo {
    width: 100%;
    height: 100%;
    background-image: url('/blog/static/photos/Blog_page/author\ bhai.jpg');
    background-size: cover;
    background-position: top right;
    border: 2px solid #FFA500;
    border-radius: 50%;
}

.about-info-container {
    max-width: 800px;
    color: #333;
}

.about-circle {
    width: 300px;
    height: 300px;
    background-color: #FFA500;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    /* Adjust the percentage based on your preference */
    left: 3%;
    /* Adjust the percentage based on your preference */
    transform: translate(-10px, -10px);
    z-index: 1;
    /* Set a higher z-index to make sure it's behind the photo */
}

h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

.contact-button:hover {
    background-color: #e09200;
}

/* About us section ends here */


/*---------------------------------------------------------------------------------------------------------------------------------------*/



/*Footer Section starts here*/


/* Footer styles */
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo h1 {
    font-size: 24px;
}

.footer-links ul {
    list-style: none;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    position: relative;
    top: 25px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-top: 20px;
    }

    .footer-links ul {
        flex-direction: column;
    }

    .footer-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/*Footer Section Ends here*/